body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main{
  display: flex;
  flex-direction: row;
  flex: 5;
  border: 0.1vw solid #000;
}

.menu{
  flex: 1;
  padding: 1vw;
  font-size: 1.7vw;
  background-color: #fdd;
  border: 0.1vw solid #000;
}

.content{
  display: flex;
  flex-direction: column;
  flex: 4;
}

.header{
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 1vw;
  font-size: 1.6vw;
  background-color: #d0e7ff;
  border: 0.1vw solid #000;
}

.x{
  min-width: 7vw;
  height: 2vw;
  width: auto;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2vw;
  padding: 1vw;
  font-size: 1.3vw;
  background-color: #ffffff;
  border: 0.1vw solid #000;
}

.main-content{
  display: flex;
  flex-direction: row;
  flex: 3;
}

.left{
  display: flex;
  flex-direction: column;
}

.short-text{
  max-height: 5vw;
  padding: 1vw;
  text-align: right;
  font-size: 1.2vw;
  flex: 1;
  background-color: #e5f2c9;
  border: 0.1vw solid #000;
}

.text-with-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding-right: 2vw;
  text-align: justify;
  font-size: 1.2vw;
  background-color: #ffffff;
  border: 0.1vw solid #000;
}

.text-with-image img{
  align-self: center;
  height: 12vw;
  margin: 2vw;
}

.list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  width: 30vw;
  font-size: 1.5vw;
  background-color: #dff0d8;
  border: 0.1vw solid #000;
}

.list ol{
  padding: 3vw;
  padding-left: 7vw;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  font-size: 1.5vw;
  background-color: #d0e7ff;
  border: 0.1vw solid #000;
}

.y{
  min-width: 7vw;
  height: 2vw;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  margin-left: 5vw;
  font-size: 1.3vw;
  background-color: #ffffff;
  padding: 1vw;
  border: 0.1vw solid #000;
}

.references ul{
  list-style: none;
  padding-right: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.references a{
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu, .header, .list {
    font-size: 3vw;
  }

  .footer{
    font-size: 2vw;
  }

  .menu {
    flex: 0 0 25%;
  }

  .y {
    margin-right: 10vw;
  }
}

@media (max-width: 480px) {
  .menu {
    flex: 0 0 30%;
  }
}

