body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(8vw, 70vw) auto;
  overflow: auto;
}

.menu {
  grid-column: 1 / 3;
  grid-row: 1 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 1.3vw;
  padding: 1vw;
  background-color: #fdd;
  border: 0.1vw solid #000000;
}

.header {
  grid-column: 3 / 8;
  grid-row: 1 / 3;
  background-color: #d0e7ff;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: justify;
  font-size: 1.4vw;
  padding: 2vw;
  border: 0.1vw solid #000000;
}

.short-text {
  grid-column: 3 / 6;
  grid-row: 3 / 4;
  background-color: #e5f2c9;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
  padding: 0 1vw;
  font-size: 1.2vw;
  border: 0.1vw solid #000000;
}

.list {
  grid-column: 6 / 8;
  grid-row: 3 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2vw;
  font-size: 1.4vw;
  background-color: #dff0d8;
  border: 0.1vw solid #000000;
}

.list ol {
  display: grid;
  grid-auto-flow: row;
  padding-left: 7vw;
}

.text-with-image {
  grid-column: 3 / 6;
  grid-row: 4 / 7;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 1.1vw;
  padding: 1vw;
  border: 0.1vw solid #000000;
}

.text-with-image img {
  max-height: 12vw;
  padding-right: 1vw;
}

.footer {
  grid-column: 1 / 8;
  grid-row: 7 / 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  font-size: 1.5vw;
  background-color: #d0e7ff;
  border: 0.1vw solid #000000;
}

.footer ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 7vw;
}

.footer a {
  text-decoration: none;
}

.x {
  min-width: 7vw;
  height: 2vw;
  width: auto;
  margin-left: 2vw;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  border: 0.1vw solid #000000;
  background-color: white;
  overflow: hidden;
}

.y {
  min-width: 7vw;
  height: 2vw;
  width: auto;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  border: 0.1vw solid #000000;
  background-color: white;
  overflow: hidden;
}

